[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
    
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
